<article class="col-md-12 matricula">
	<h3>Matricula de inscripción</h3>
	<p>
		Matricúlate en el Colegio Puerta de R'ĺyeh para acceder a sus instalaciones y servicios. Puedes realizar una inscripción básica o la matrícula copleta, lo cual te da derecho a examinarte de las asignaturas a las que te inscribas:<br>
		<%= enlace_a "Registrate ya!", registro_url, class: "btn btn-primary" %><br>
		Aquí puedes ver nuestra <%= enlace_a "política de privacidad", "javascript:verPoliticaPrivacidad()" %> y condiciones de uso.
	</p>
</article>