	<section class="col-md-12 colegio">
		<span class="c1"></span>
		<span class="c1b"></span>
		<span class="c1c"></span>
		<span class="c2"></span>
		<span class="c2b"></span>
		<span class="c2c"></span>
		<span class="c3"></span>
		<span class="c3b"></span>
		<span class="c3c"></span>
		<span class="c4"></span>
		<span class="c4b"></span>
		<span class="c4c"></span>
		<div class="x1"></div>
		<div class="y1"></div>
		<div class="x"></div>
		<div class="y"></div>
		<article>
			<h2>Bienvenidas al Colegio Mayor</h2>
			<p>
				Los Antiguos fueron, los Antiguos son y los Antiguos serán. Desde las oscuras estrellas Ellos vinieran antes de que naciera el Hombre, sin ser vistos y odiosos, Ellos descendieron a la primitiva Tierra.<br>Bajo los océanos Ellos se reprodujeron mientras las edades pasaban, hasta que los mares abandonaron la tierra, después de lo cual Ellos salieron como enjambre en todas Sus multitudes y la oscuridad reinó en la Tierra. 
			</p>
 			
 			<!--<img src="media/colegio.jpg" alt="Colegio Mayor" class="foto_auxiliar">-->
 			<%= image_tag "colegio.jpg", alt:"Colegio Mayor", class: "foto_auxiliar" %>
			<p id="left">
				En los helados Polos Ellos levantaron poderosas ciudades, y en los lugares elevados los templos de Aquellos a quienes la naturaleza no pertenece y los Dioses han maldecido.<br>
				<br>
				Y la simiente de los Antiguos cubrió la Tierra, y Sus hijos perduraron a través de las edades. Los shantaks de Leng son la obra de Sus manos, los Espantos que moraron en las bóvedas primordiales de Zin los conocen como Sus señores. Ellos han engendrado a Na-hag y a los Feroces que cabalgan en la Noche; el Gran Cthulhu es Su hermano, los shaggoths Sus esclavos... Los Dholes rinden homenaje a Ellos en el valle lleno de noche de Pnoth y los Gugs cantan Sus alabanzas bajo los picos de la antigua Throk. Ellos han paseado entre las estrellas y Ellos han paseado por la tierra. La Ciudad de Irem en el gran desierto Los ha conocido; Leng, en el Yermo Frío. ha visto Su paso, la ciudadela eterna sobre las alturas veladas por las nubes de la desconocida Kadath llevó su marca.
			</p>
			<p id="right">
				Voluptuosamente, los Antiguos pisaron los caminos de la oscuridad y Sus blasfemias fueron grandes sobre la Tierra; toda la creación se inclinó bajo Su poder y Los conoció por Su perversidad. Y los Señores Mayores abrieron Sus ojos y advirtieron las abominaciones de Aquellos que asolaron la Tierra. En su ira, Ellos levantaron Su mano contra los Antiguos, dejándolos en medio de Su iniquidad y arrojándolos lejos de la Tierra al Vacío que hay más allá de los planos donde reina el caos y el cuerpo no permanece. Y los Señores Mayores pusieron Su sello sobre la Puerta y el poder de los Antiguos no prevaleció contra su poder.<br>
				<br>
				El odioso Cthulhu surgió entonces de entre las profundidades y montó en cólera con extremada y grande furia contra los Guardianes de la Tierra. Y Ellos anularon sus venenosas garras con poderosos sortilegios y lo encerraron dentro de la Ciudad de R’lyeh, donde bajo las olas dormirá el sueño de la muerte hasta el fin del Eón.
			</p>
		</article>
	</section>