<section class="row secretaria">
	<h2>Secretaria</h2>
	<% unless usuario_actual %>
		<%= render "matriculacion" %>
	<% end %>
	<article class="col-md-12 cursos">
		<h3>Cursos disponibles</h3>
		<ul class="asignaturas">
			<%= render @asignaturas %>
		</ul>
	</article>
	<article class="col-md-12 tablon">
		<h3>Tablón de anuncios</h3>
		<ul id="notas">
			<% @noticias.each do |noticia| %>
				<li class="nota"><%= noticia %></li>
			<% end %>
		</ul>
	</article>
</section>