<section class="row">
	<article class="col-md-8 col-md-offset-2">
		<h2>Editar tu perfil</h2>
		<%= render "formulario", ruta: actualizar_path(@usuario.nombre), texto_boton: "Editar perfil" %>
		<%= link_to "Volver atras", volver_atras %>
	</article>
</section>
