<section class="row">
	<article class="col-md-8 col-md-offset-2">
		<h2>Registro de matrícula</h2>
		<%= render "formulario", ruta: registro_path, texto_boton: "Crear perfil" %>
		<%= link_to "Volver atras", "javascript:history.back(1)" %>
	</article>
</section>