<header class="row">
  <div class="col-md-8 col-md-offset-2">
    <div>
	    <%= link_to image_tag("logotipo.jpg", alt: "Símbolo de Colegio", title: "Honorable Colegio Puerta de Rlyeh"), root_url, class: "logo" %>
	    <h1 id="titulo">Colegio Mayor Puerta de R'lyeh</h1>
    </div>
  </div>
</header>