  <footer class="row clearfix"> 
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4"><p>Adscrito a la venerable Universidad de Arkham</p></div>
      <div class="col-md-4"><p>Web site creado con Ruby n' Rails</p></div>
      <div class="col-md-4"><p><%= enlace_a "Politica de privacidad y condiciones de uso" , "javascript:verPoliticaPrivacidad()" %></p></div>
    </div>
  </footer>